@page "/Metas"
@inject MetasService metasService;
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Metas</PageTitle>

<div class="container">
	<div class="card shadow-lg">
		<div class="card-header">
			<h3><strong>Metas</strong></h3>
			<div class="row">
				<div class="col-2">
					<a href="/CrearMeta" class="btn btn-success bi bi-file-earmark-diff-fill"> Crear</a>
				</div>
			</div>
		</div>
		<div class="card-body">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>MetaId</th>
						<th>Descripci&oacute;n</th>
						<th>Fecha</th>
						<th>Monto</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var meta in listaMetas)
					{
						<tr>
							<td>@meta.MetaId</td>
							<td>@meta.Descripcion</td>
							<td>@meta.Fecha.ToShortDateString()</td>
							<td>@meta.Monto.ToString("N2")</td>
							<td><button type="button" class="btn btn-info" @onclick="(e) => IrDetalle(meta.MetaId)"><i class="bi bi-eye" /> Detalles</button></td>
							<td><button type="button" class="btn btn-warning" @onclick="(e) => IrEditar(meta.MetaId)"><i class="bi bi-pencil-square" /> Editar</button></td>
							<td><button type="button" class="btn btn-danger" @onclick="(e) => IrEliminar(meta.MetaId)"><i class="bi bi-trash3-fill" /> Eliminar</button></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="card-footer">
			<div class="row">
				<div class="col">
					<p class="float-start"><strong>Cantidad de Metas:</strong> @listaMetas.Count</p>
				</div>
				<div class="col">
					<p class="float-end"><strong>Total Montos:</strong> @TotalMontos.ToString("N2")</p>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	public List<Metas> listaMetas = new List<Metas>();
	public decimal TotalMontos { get; set; }

	protected override void OnInitialized()
	{
		listaMetas = metasService.Listar(m => m.MetaId > 0);
		TotalMontos = listaMetas.Sum(m => m.Monto);
	}

	public void IrEditar(int metaId)
	{
		NavigationManager.NavigateTo($"/EditarMeta/MetaId={metaId}");
	}

	public void IrEliminar(int metaId)
	{
		NavigationManager.NavigateTo($"/EliminarMeta/MetaId={metaId}");
	}

	public void IrDetalle(int metaId)
	{
		NavigationManager.NavigateTo($"DetallesMetas/MetaId={metaId}");
	}
}